* {
    margin: 0;
}

#title-backup {
    margin-top: 20px;
}

.btn-add-close {
    display: flex;
    flex-direction: row-reverse;
}

.paragraph-explication {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.paragraph-pk {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.backup-phrase {
    border: ridge var(--color-orange);
    height: 120px;
}

.mnemonic-returned {
    display: flex;
    height: 80px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.paragraph-pk{
    margin-top: 36px;
}

.privateKey-returned {
    border: ridge var(--color-orange);
    display: flex;
    height: 80px;
    padding: 5px;
    font-size: 16px;
    align-items: center;
    word-break: break-word;
}