* {
    margin: 0;
}

.grid-menu {
    background-color: var(--color-orange);
    height: 100vh;
}

.logo-menu {
    width: 52px;
    height: 48px;
    margin-top: 4px;
}

.avatar {
    width: 121px;
    height: 121px;
}

.line-menu {
    border: 0.3px solid var(--color-orange-darker);
    width: 100%;
}

.title-menu {
    padding-left: 10px;
    color: var(--color-black);
}

.text-logged-area {
    padding-top: 15px; 
    color:var(--color-black);
    font-size: 16px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0 0 20px;
} 

.items-menu:hover {
    color: #ffffff;
    text-decoration: none;
}

.space-icon-p {
    font-size: 16px;
    margin-left: 20px;
    color: var(--color-black);
    vertical-align: middle;
}

.icons {
    color: var(--color-black);
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

.logout-item {
    margin: 10px 10px 0 0;
    vertical-align: middle;
}