.btn-history-close {
    display: flex;
    flex-direction: row-reverse;
}

#title-history {
    margin-top: 20px;
}

.search-space .space-between {
    justify-content: space-between;
}

.search-space .input-search {
    width: auto;
    margin-left: 0px;
}

.width-auto {
    width: auto;
}
