.btn-validation-close {
    display: flex;
    flex-direction: row-reverse;
}

.txtInfo {
    color: red;
}

.ask-question {
    font-size: 18px;
}

.grdButton {
    padding-top: 10px;
    overflow: hidden;
}

.btnGroupLine {
    margin:5px;
    font-size: 13px;
}
.closeButton {
    border: solid 0.5px;
    border-radius: 50%; 
    width: 38px;    
    background-color: #fff;
}

.closeIcon {
    color: black;
    font-size: 26pt;
    display: flex;
    flex-direction: row-reverse;
}