.valueWei {
    height: 90px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.grid-second-deposit {
    background-color: var(--color-ice);
}