.FormControl {
    margin-top: 40px;
}

.p-welcomeback {
    margin-top: 10px;
    font-size: 9pt;
}

.label-welcomeback {
    margin-top: 20px;
}

#password {
    margin-bottom: 50px;
    font-size: 10pt;
}