.card-history  {
    padding: 28px 0px 19px;
    height: auto;
    
}

.card-header {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.box-info h4 {
    font-size: 1.15em;
}


.card-history-detail {
    border-top: 1px solid silver;
    padding-top: 10px;
    height: auto;
}

.card-history-detail span {
    color: #7e7e7e;
}

.card-history-detail.show {
    display: block;
}

.card-history-detail.hide {
    display: none;
}
